id: meshblu-facebook-authenticator-green-controller
kind: ReplicationController
apiVersion: v1beta1
labels:
  name: meshblu-facebook-authenticator-green
  version: "$SHORT_COMMIT"
desiredState:
  replicas: 2
  replicaSelector:
    name: meshblu-facebook-authenticator-green
    version: "$SHORT_COMMIT"
  podTemplate:
    labels:
      name: meshblu-facebook-authenticator-green
      app: meshblu-facebook-authenticator-green
      version: "$SHORT_COMMIT"
    desiredState:
      manifest:
        version: v1beta1
        id: meshblu-facebook-authenticator-green
        containers:
          - name: meshblu-facebook-authenticator-green
            image: octoblu/meshblu-facebook-authenticator:$SHORT_COMMIT
            ports:
              - containerPort: 80
            env:
              - name: FACEBOOK_CLIENT_ID
                value: $FACEBOOK_CLIENT_ID
              - name: FACEBOOK_CLIENT_SECRET
                value: $FACEBOOK_CLIENT_SECRET
              - name: MESHBLU_FACEBOOK_AUTHENTICATOR_TOKEN
                value: $MESHBLU_FACEBOOK_AUTHENTICATOR_TOKEN
              - name: AIRBRAKE_API_KEY
                value: $AIRBRAKE_API_KEY
              - name: FACEBOOK_CALLBACK_URL
                value: $FACEBOOK_CALLBACK_URL
              - name: MESHBLU_HOST
                value: $MESHBLU_HOST
              - name: MESHBLU_PORT
                value: $MESHBLU_PORT
              - name: MESHBLU_FACEBOOK_AUTHENTICATOR_PORT
                value: $MESHBLU_FACEBOOK_AUTHENTICATOR_PORT
              - name: MESHBLU_FACEBOOK_AUTHENTICATOR_UUID
                value: $MESHBLU_FACEBOOK_AUTHENTICATOR_UUID
              - name: MESHBLU_FACEBOOK_AUTHENTICATOR_NAME
                value: $MESHBLU_FACEBOOK_AUTHENTICATOR_NAME
